@{ 
    Layout = "_Layout";
    ViewBag.Title = "Not Found";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading"></h4>
                <h1 class="text-center">404</h1>
                <hr/>
                <h4 class="text-center">@ViewBag.ErrorMessage </h4>
            </div>
            <div class="text-center">
                <form method="get" asp-action="index" asp-controller="home">
                    <input class="btn btn-primary" value="Home" type="submit" />
                </form>
            </div>
        </div>
    </div>
</div>
