@{
    Layout = "_Layout";
    ViewData["Title"] = "Order Confirmed";
}

<div class="row mt-5">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order Confirmed Successfully</h2>
        <p>You Can Check Your Order In The Order Section Of Your Profile</p>
        <hr/>
        <p>Thank You!</p>
    </div>
</div>