@model ResetPasswordViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Reset Password";

}
<section class="vh-10" style="background-color: #f8f9fa;">
    <div class="container py-5 h-50">
        <div class="row d-flex justify-content-center align-items-center h-20">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-body p-5">
                        <h3 class="text-center mb-5">Reset Password</h3> <div asp-validation-summary="All" class="text-danger"></div>
                        <form method="post" asp-action="ResetPassword" asp-controller="Account">

                            <input asp-for="Email" type="hidden">
                            <input asp-for="Token" type="hidden">
                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" class="form-control" placeholder="Enter Password">
                                <span asp-validation-for="Password" class="text-danger form-text"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"></label>
                                <input asp-for="ConfirmPassword" class="form-control" placeholder="Enter Confirm Password">
                                <span asp-validation-for="ConfirmPassword" class="text-danger form-text"></span>
                            </div>
                            <button type="submit" class="btn btn-primary">Reset</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>