<div class="modal fade" id="StatusModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="StatusHeadding"></h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="btn badge-pill btn-outline-primary" href="javascript:void(0)">Shipped</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn badge-pill btn-outline-info" href="javascript:void(0)">Delivered</a>
                        </div>
                        <div class="col-md-4">
                            <a class="btn badge-pill btn-outline-success" href="javascript:void(0)">Completed</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
